/rules/fixtures/*test*.json
/rules/migrations
/rules/static
/rules/tests
/__pycache__
/build.sh
/Dockerfile
/.coverage
/.dockerignore
/.venv
/*.env
/*.conf
/*.yml
/geckodriver.log
/htmlcov
/runtests.py
/runtests.sh
/test_requirements.txt
/web_server
