<div class="row">
    <div class="col mb-3">
        {% csrf_token %}
        {% for hidden in rule_form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% if rule_form.non_field_errors %}
        <div id="rule_form_errors" class="alert alert-danger">
            {{ rule_form.non_field_errors }}
        </div>
        {% endif %}
        <label for="{{ rule_form.name.id_for_label }}" class="form-label">{{ rule_form.name.label }}</label>
        {% if rule_form.name.errors %}
        <div id="{{ rule_form.name.id_for_label }}_errors" class="alert alert-danger">
            {{ rule_form.name.errors }}
        </div>
        {% endif %}
        {{ rule_form.name|add_class:'form-control'}}
        <p class="form-text">{{ rule_form.name.help_text|safe }}</p>
    </div>
</div>
<div class="row pt-2">
    <div class="col mb-3" id="id_criteria">
        <fieldset>
            <legend><span>Criteria:</span></legend>
            {% if rule_form.criteria.errors %}
            <div id="criteria_errors" class="alert alert-danger">
                {{ rule_form.criteria.errors }}
            </div>
            {% endif %}
            {% for checkbox in rule_form.criteria %}
            <div class="form-check">
                {{ checkbox.tag }}
                <label for="{{ checkbox.id_for_label }}" class="form-check-label">{{ checkbox.choice_label }}</label>
            </div>
            {% endfor %}
        </fieldset>
        <p class="form-text">{{ rule_form.criteria.help_text|safe }}</p>
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        <fieldset>
            <legend><span>Actions:</span></legend>
            {{ rule_actions_formset.management_form }}
            {% for action_form, parameter_collection in rule_actions_parameter_forms %}
            <div>
                <fieldset>
                    {% for hidden in action_form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                    {% if action_form.non_field_errors %}
                    <div id="id_ruleactions_set-{{ action_form.id.auto_id|get_id_number }}-errors" class="alert alert-danger">
                        {{ action_form.non_field_errors }}
                    </div>
                    {% endif %}
                    <div>
                        <label for="{{ action_form.action_number.id_for_label }}" class="form-label">{{ action_form.action_number.label }}</label>
                        {% if action_form.action_number.errors %}
                        <div id="{{ action_form.action_number.id_for_label }}_errors" class="alert alert-danger">
                            {{ action_form.action_number.errors }}
                        </div>
                        {% endif %}
                        {{ action_form.action_number|add_class:'form-control'}}
                        <p class="form-text">{{ action_form.action_number.help_text|safe }}</p>
                    </div>
                    <div>
                        <label for="{{ action_form.action.id_for_label }}" class="form-label">{{ action_form.action.label }}</label>
                        {% if action_form.action.errors %}
                        <div id="{{ action_form.action.id_for_label }}_errors" class="alert alert-danger">
                            {{ action_form.action.errors }}
                        </div>
                        {% endif %}
                        {{ action_form.action }}
                        <p class="form-text">{{ action_form.action.help_text|safe }}</p>
                    </div>
                    <div class="form-check">
                        {{ action_form.DELETE|add_class:'form-check-input' }}
                        <label for="{{ action_form.DELETE.id_for_label }}" class="form-check-label">Delete</label>
                    </div>
                    {% if parameter_collection.0 is not None %}
                    <div id="action_parameter_{{ action_form.id.auto_id|get_id_number }}_{{ parameter_collection.0|get_form_type }}">
                        {{ parameter_collection.0.management_form }}
                        {% for parameter_form in parameter_collection.0 %}
                        <div>    
                            {% for hidden in parameter_form.hidden_fields %}
                            {{ hidden }}
                            {% endfor %}
                            {% if parameter_form.non_field_errors %}
                            <div id="non_field_errors" class="alert alert-danger">
                                {{ parameter_form.non_field_errors }}
                            </div>
                            {% endif %}
                            {% for field in parameter_form.visible_fields %}
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>    
                            {% if field.errors %}
                            <div id="{{ field.id_for_label }}_errors" class="alert alert-danger">
                                {{ field.errors }}
                            </div>
                            {% endif %}
                            {{ field|add_class:'form-control'}}
                            <p class="form-text">{{ field.help_text|safe }}</p>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div id="action_parameter_{{ action_form.id.auto_id|get_id_number }}_ActionParameterForm">
                        {% if parameter_collection.1 is not None %}
                        {{ parameter_collection.1 }}
                        {% endif %}
                    </div>
                </fieldset>
            </div>
            {% endfor %}
            <div id="ruleactions_formset_additional"></div>
            <button id="add_action_button" type="button" onclick="addAction()" class="btn btn-secondary">Add Action</button>
        </fieldset>
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        <input id="submit_button" type="submit" value="Save" class="btn btn-primary">
    </div>
</div>
